@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    
    <img src="https://apc01.safelinks.protection.outlook.com/?url=https%3A%2F%2Frgadstorageaccount.blob.core.windows.net%2Fprojectimage%2Fdownload%2520(1).jpg%3Fsp%3Dr%26st%3D2023-05-24T08%3A00%3A38Z%26se%3D2023-05-24T16%3A00%3A38Z%26spr%3Dhttps%26sv%3D2022-11-02%26sr%3Db%26sig%3DMC4PUcARLQoChwJpO1AAGUbXzvtr8HiuramAQX2r3xM%253D&data=05%7C01%7CAniruddha.Deshmukh2%40cognizant.com%7Cd91a2e0854e748b4af9b08db5c2d13b6%7Cde08c40719b9427d9fe8edf254300ca7%7C0%7C0%7C638205120934570367%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C3000%7C%7C%7C&sdata=4wW5mIiY5b26VtxZZj9gv7SgT0JPdDqiuByfX3Ky3Ec%3D&reserved=0" alt="img" width="500" height="600">
  
</div>
